{
  "data-ld-nm"   : [""],
  "data-ld-nm-e" : [""],
  "data-ld-m"    : ["background-image: linear-gradient(to top, maroon {0}%, white {1}%, chocolate {2}%) !important;", 
                    "int(100*max(0.0, {MATCHRATIO} - 0.1))",
                    "int(100* {MATCHRATIO})",
                    "int(100*min(1.0, {MATCHRATIO} + 0.1))"],
  "data-ld-m-e"  : ["background-image: linear-gradient(to top, maroon {0}%, white {1}%, chocolate {2}%) !important;", 
                    "int(100*max(0.0, {MATCHRATIO} - 0.1))",
                    "int(100* {MATCHRATIO})",
                    "int(100*min(1.0, {MATCHRATIO} + 0.1))"],
  "data-ld-c"    : ["background-image: linear-gradient(to top, darkgreen {0}%, white {1}%, limegreen {2}%) !important;",
                    "int(100*max(0.0, {CORRECTRATIO} - 0.1))",
                    "int(100* {CORRECTRATIO})",
                    "int(100*min(1.0, {CORRECTRATIO} + 0.1))"],
  "data-ld-c-e"  : ["background-image: linear-gradient(to top, darkgreen {0}%, white {1}%, limegreen {2}%) !important;",
                    "int(100*max(0.0, {CORRECTRATIO} - 0.1))",
                    "int(100* {CORRECTRATIO})",
                    "int(100*min(1.0, {CORRECTRATIO} + 0.1))"],
  "data-ld-s"    : [""],
  "data-ld-b"    : [""]
}